{% extends 'backoffice/backofficebase.html.twig' %}

{% block title %}Back-O'Flix
{% endblock %}

{% block body %}
	<h1 class="mt-2">Back-O'Flix</h1>
  <div class="my-5 card-deck">

    <div class="card">
      <div class="card-header ">
        Movie
      </div>
      <div class="card-body">
        <ul class="list-group list-group-flush">
          <a href={{ path('app_backoffice_movie_new') }} class="btn btn-success list-group-item">Ajouter</a>
          <a href={{ path('app_backoffice_movie_index') }} class="btn btn-info list-group-item">Voir</a>
        </ul>
      </div>
    </div>

    <div class="card">
      <div class="card-header">
        Season
      </div>
      <div class="card-body">
        <ul class="list-group list-group-flush">
          <a href={{ path('backoffice_season_new') }} class="btn btn-success list-group-item">Ajouter</a>
          <a href={{ path('backoffice_season_index') }} class="btn btn-info list-group-item">Voir</a>
        </ul>
      </div>
    </div>

    
    <div class="card">
      <div class="card-header">
        Casting
      </div>
      <div class="card-body">
        <ul class="list-group list-group-flush">
          <a href={{ path('backoffice_casting_new') }} class="btn btn-success list-group-item">Ajouter</a>
          <a href={{ path('backoffice_casting_index') }} class="btn btn-info list-group-item">Voir</a>
        </ul>
      </div>
    </div>

    <div class="card">
      <div class="card-header">
        Actor
      </div>
      <div class="card-body">
        <ul class="list-group list-group-flush">
          <a href={{ path('backoffice_genre_new') }} class="btn btn-success list-group-item">Ajouter</a>
          <a href={{ path('backoffice_genre_index') }} class="btn btn-info list-group-item">Voir</a>
        </ul>
      </div>
    </div>

    
    <div class="card">
      <div class="card-header">
        Genre
      </div>
      <div class="card-body">
        <ul class="list-group list-group-flush">
          <a href={{ path('backoffice_genre_new') }} class="btn btn-success list-group-item">Ajouter</a>
          <a href={{ path('backoffice_genre_index') }} class="btn btn-info list-group-item">Voir</a>
        </ul>
      </div>
    </div>

  </div>
</div>
{% endblock %}

