{% if is_granted('IS_AUTHENTICATED_FULLY') %}
  <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
      <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
              data-bs-toggle="dropdown">
              <span>{{app.user.UserIdentifier}}</span>
              <i class="bi bi-person-square"></i>
          </a>
          <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Profil</a></li>
              {% for role in app.user.roles %}
                {% if (role == 'ROLE_ADMIN' or role == 'ROLE_MANAGER') %}
                  <li><a class="dropdown-item" href={{ path('backoffice_main') }}>Backoffice</a></li>
                {% endif %}
              {% endfor %}
              <li>
                  <hr class="dropdown-divider">
              </li>
              <li class="dropdown-item fw-bold">
                Rôles
              </li>
              {% for role in app.user.roles %}
                {% set roleToShow = role|split('_')%}
                <li class="dropdown-item fst-italic">{{ roleToShow[1] }}</li>
              {% endfor %}
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href={{ path('app_logout') }}>Déconnexion</a></li>
          </ul>
      </li>
  </ul>
{% else %}  
  <a href={{ path('app_login') }} type="button" class="btn btn-danger me-2">Connexion</a>
{% endif %}
